<div *ngIf="produto">
  <h1>Dados do Produto</h1>
  <div><label>Id: </label>{{produto.id}}</div>
  <div>
    <label>Nome:
      <input [(ngModel)]="produto.name" placeholder="Informe o nome do Produto"/>
    </label>
  </div>
  <div>
    <label>Qtd máx de nº:
      <input [(ngModel)]="produto.qtd_max" placeholder="Informe a quantidade máxima de números na cartela"/>
    </label>
  </div>
  
  <!-- <div> -->
  <!-- <label>Regras: -->
		  <!-- <select [(ngModel)]="selectedRegra">  -->
			<!-- <option *ngFor="let regra of regras" [ngValue]="regra.id" > {{regra.name}} </option>  -->
		  <!-- </select> -->
		<!-- </label> -->
  <!-- </div> -->
  
  
  
  
  <div *ngIf="produto != null && produto.lista_regras.length > 0">
			<label>Regras:
        <div *ngFor="let item of produto.lista_regras">
		<ul>
        <li>
          {{item.name}}
          </li>
		  </ul>
          </div>
		</label>
		</div>
		
		
		<!-- <div *ngIf="jogo == null ||jogo == undefined || jogo.id === 0"> -->
			<!-- <label> -->
			<!-- Nº escolhido: -->
			<!-- <input type="number" name="numero" min="1" [(ngModel)]="numeroInformado" max="{{selectedProduto.qtd_max}}" /> -->
			<!-- <button (click)="adicionarNumero()">ADICIONAR</button> -->
			<!-- </label> -->
		<!-- </div> -->
		<!-- <div *ngIf="jogo == null ||jogo == undefined || jogo.id === 0"> -->
			<!-- <label>Números escolhidos: -->
        <!-- <div *ngFor="let item of lista_numeros"> -->
        <!-- <span class="checkboxtext"> -->
          <!-- {{item}} -->
          <!-- </span><br>&nbsp; -->
          <!-- </div> -->
		<!-- </label> -->
		<!-- </div> -->
  
  
  <button (click)="goBack()">VOLTAR</button>
  <button (click)="save()">SALVAR</button>
</div>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->