<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Principal</a>
  <!-- <a routerLink="/heroes">Heroes</a> -->
  <a routerLink="/apostadores">Apostadores</a>
  <a routerLink="/produtos">Produtos</a>
  <a routerLink="/regras">Regras</a>
  <a routerLink="/jogos">Jogos</a>
  <a routerLink="/resultado">Resultado da Mega-Sena</a>
</nav>

<router-outlet></router-outlet>

<!-- <nav>
<app-messages></app-messages>
</nav> -->

<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->